<h2 class="screen-align">Updatetest</h2>
<div id="template-inla" class="gjs-row">
    <div id="template-iawl" class="gjs-cell">
        <label id="template-izpb" class="label ">
            <div id="template-i9nmg" class="">Name</div>
        </label>
        <input id="template-iyjh" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-i2atd" (click)="GpUpdate()" class="button btn btn-primary ">
            <div id="template-ih4hr" class="">Update</div>
        </button>
    </div>
    <div id="template-ia5h" class="gjs-cell">
        <label id="template-i1d4n" class="label ">
            <div id="template-i65hn" class="">Email</div>
        </label>
        <input id="template-ifsz" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
    <div id="template-ivur" class="gjs-cell">
        <label id="template-ixuph" class="label ">
            <div id="template-iz7ir" class="">Phone</div>
        </label>
        <input id="template-i67a" [(ngModel)]="user.phone" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
</div>