.gjs-row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.gjs-cell {
    width: 100%;
    display: block;
}

.gjs-cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

.gjs-row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.gjs-cell {
    width: 100%;
    display: block;
}

.gjs-cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

.gjs-row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.gjs-cell {
    width: 100%;
    display: block;
}

.gjs-cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

#template-iop2 {
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 10px;
}

#myGrid {
    width: auto;
    height: 50%;
}

.gjs-row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.gjs-cell {
    width: 100%;
    display: block;
}

.gjs-cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

.gjs-row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.gjs-cell {
    width: 100%;
    display: block;
}

.gjs-cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

.gjs-row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.gjs-cell {
    width: 100%;
    display: block;
}

.gjs-cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

#template-iop2 {
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 10px;
}

#myGrid {
    width: auto;
    height: 50%;
}

.gjs-row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.gjs-cell {
    width: 100%;
    display: block;
}

.gjs-cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}