<h2 class="screen-align">Createtest</h2>
<div id="template-i483" class="gjs-row">
    <div id="template-ix3a" class="gjs-cell">
        <label id="template-itlj" class="label ">
            <div id="template-izgle" class="">Name</div>
            <br id="template-ibh8h" class=""></br>
        </label>
        <input id="template-ilwv" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-ija2r" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-imk8x" class="">Create</div>
        </button>
    </div>
    <div id="template-ipfs" class="gjs-cell">
        <label id="template-iinkq" class="label ">
            <div id="template-i58rf" class="">Email</div>
        </label>
        <input id="template-iyxm" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
    <div id="template-i5jp" class="gjs-cell">
        <label id="template-ielro" class="label ">
            <div id="template-ilrgp" class="">Phone</div>
        </label>
        <input id="template-i9c7" [(ngModel)]="user.phone" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
</div>